@using MiniProject329A.AddOns;

@*
*@
@model Pagination<VMTblMLocationLevel>
@{
    
}

<div class="card">
    <div class="card-header text-center fw-bold d-flex" style="background-color:#ADDFFF">
        <a title="Ke Home" class="navbar-brand text-black" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="card-body" style="background-color:#F0FFFF">
        <div class="d-flex justify-content-between">
            <form id="frmFind" asp-action="Index" class="input-group w-50">
                <div class="input-group">
                    <input name="filter" type="text" placeholder="Cari Metode Pembayaran..." class="input-group form-control" value="@ViewBag.Filter" />
                    <button type="submit" id="btnFilter" class="input-group-text">Cari</button>
                </div>
            </form>
        </div>
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr style="background-color:#ADDFFF">
                    <td class="dropdown">
                        <a class="nav-link text-dark dropdown" title="Urutkan" role="button" id="SortPaymentMethod" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sort"></i></a>
                        <ul class="dropdown-menu" style="background-color:#D3E3FC" aria-labelledby="SortPaymentMethod">
                            <li>
                                <button class="dropdown-item btn" style="background-color:#D3E3FC">
                                    <a class="text-black btn fw-bold " style="background-color:#D3E3FC" asp-controller="LocationLevel" asp-action="Index" asp-route-orderBy="@ViewBag.OrderName">
                                        Sort <i class="fas fa-@(ViewBag.OrderName=="name"? "sort-alpha-down":"sort-alpha-down-alt")"></i>
                                    </a>
                                </button>
                            </li>
                        </ul>
                    </td>
                    <td class="col-10 h4 fw-bold">
                        Level Lokasi
                    </td>
                    <td class="col-1 text-center h5 fw-bold">
                        <button class="btn btn-dark text-black" style="background-color:#ADDFFF" id="frmAddLocationLevelIndex" title="Tambah Metode Pembayaran"
                                data-bs-target="#staticModal" data-bs-toggle="modal">
                            <i class="fas fa-plus fw-bold"></i>
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (VMTblMLocationLevel data in Model)
                    {
                        <tr>
                            <td ></td>
                            <td class="fw-bold">@data.Name</td>
                            <td class="dropdown text-center" title="Setting">
                                <a class="nav-link text-dark dropdown-toggle" role="button" id="DropSetPaymentMethod" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-wrench"></i></a>
                                <ul class="dropdown-menu" style="background-color:#D3E3FC" aria-labelledby="DropSetPaymentMethod">
                                    <li>
                                        <button class="dropdown-item btn btn-warning fw-bold" style="background-color:#D3E3FC" data-id="@data.Id" title="Edit.." data-bs-toggle="modal" data-bs-target="#staticModal">
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </li>
                                    <h3></h3>
                                    <li>
                                        <button class="dropdown-item btn btn-danger fw-bold" style="background-color:#D3E3FC" data-id="@data.Id" title="Hapus.." data-bs-toggle="modal" data-bs-target="#staticModal">
                                            <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="col-12 fw-bold text-center">Metode Pembayaran Tidak Ditemukan</td>
                    </tr>
                }
            </tbody>
            <tfoot colspan="3">
                <tr class="text-center" style="background-color:#ADDFFF">
                    <td class="text-start">
                        <a class="btn @(Model.PageIndex <= 1 ?"disabled":"")" title="Kembali Ke Halaman Sebelumnya..."
                           asp-controller="LocationLevel" asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderBy"
                           asp-route-pageNumber="@(Model.PageIndex <1 ? Model.PageIndex: Model.PageIndex-1) ">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </td>
                   <td>
                        @if (Model.TotalPages > 0)
                        {
                            <span class="group-text text-center fw-bold" style="background-color:#ADDFFF">Halaman @Model.PageIndex / @Model.TotalPages </span>
                        }
                   </td>
                    <td class="text-center">
                        <a class="btn @(Model.PageIndex >= Model.TotalPages ?"disabled":"")" title="Halaman Selanjutnya..."
                           asp-controller="LocationLevel" asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderBy"
                           asp-route-pageNumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex: Model.PageIndex+1) ">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table> 
    </div>
</div>

<script>

    $("#frmAddLocationLevelIndex").click(function (event) {
        $("#staticModalLabel").html("Menambahkan Metode Pembayaran");
        $("#staticModalBody").load("LocationLevel/Add");
    });

    $(".btn-warning").click(function (event) {
        let pmid = $(this).data("id");
        $("#staticModalLabel").html("Edit");
        $("#staticModalBody").load("Location Level/Edit/" + pmid);
    });

    $(".btn-danger").click(function (event) {
        let pmid = $(this).data("id");
        $("#staticModalLabel").html("Hapus");
        $("#staticModalBody").load("Location Level/Delete/" + pmid);
    });
</script>