@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<VMTblMBloodGroup?>
@{
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span class="h3">@ViewBag.Title</span>
        </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <form class="input-group w-50">
                <input placeholder="Find..." class="form-control" name="filter" />
                <button type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
            </form>
            <button class="btn btn-success" title="Add"
                data-bs-toggle="modal" data-bs-target="#staticModalLg"><i class="fas fa-plus"></i> Tambah
            </button>
        </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-2">Id</th>
                        <th class="col-4 text-center">Golongan Darah</th>
                        <th class="col-4 text-center">Description</th>
                        <th class="col-2 text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count > 0)
                    {
                        @foreach(VMTblMBloodGroup data in Model)
                        {
                            <tr>
                                <td>@data.Id</td>
                                <td class="text-center">@data.Code</td>
                                <td class="text-center">@data.Description</td>
                                <td>
                                    <div class="btn">
                                        <button data-id="@data.Id" class="btn btn-info" title="Edit"
                                            data-bs-toggle="modal" data-bs-target="#staticModalLg"><i class="fas fa-edit"></i>Ubah</button>
                                        <button data-id="@data.Id" class="btn btn-danger" title="Delete"
                                            data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-trash"></i>Hapus</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">Data Tidak Ditemukan</td>
                        </tr>
                    }
                </tbody>
           </table>
    </div>    
</div>

<script>
    $(".btn-success").click(function (event) {
        $("#staticModalLgLabel").html("Tambah Golongan darah");
        $("#staticModalLgBody").load("/BloodGroup/Add/");
        debugger
    });

    $(".btn-info").click(function (event) {
        let bgId = $(this).data("id");
        debugger;
        $("#staticModalLgLabel").html("Edit Golongan Darah");
        $("#staticModalLgBody").load("/BloodGroup/Edit/" + bgId);
    });

    $(".btn-danger").click(function (event) {
        let bgId = $(this).data("id");
        debugger;
        $("#staticModalLabel").html("Hapus Golongan Darah");
        $("#staticModalBody").load("/BloodGroup/Delete/" + bgId);
    })
</script>