@model VMTblMLocation

@{
    Layout = null;
    int? userId = Context.Session.GetInt32("UserId");

}

<form id="frmEditLocationzz" method="post" asp-action="Add">
    <div class="card">
        <div class="card-header h3">Edit Lokasi @Model.Name</div>
        <div class="card-body">
            <div class="row my-1">
                <div class="col-12">
                    <div class="input-group">
                        <input type="hidden" name="ModifiedBy" value="@userId" />
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <label class="col-4 input-group-text">Wilayah</label>
                        <select id="EditNameLocationFull" name="ParentId" class="form-control input-group-text bg-white col-8">
                            <option value="">-- Pilih Wilayah --</option>
                            @foreach (VMTblMLocation location in ViewBag.Location)
                            {
                                <option value="@location.Id">
                                    @foreach (VMTblMLocationLevel locLevel in ViewBag.LocationLevel)
                                    {
                                        if (locLevel.Id == location.LocationLevelId)
                                        {
                                            @(locLevel.Abbreviation + ' ')
                                        }
                                    }
                                    @location.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-12">
                    <div class="input-group">
                        <label class="col-4 input-group-text">Level Lokasi</label>
                        <select id="EditlocationLevelId" name="LocationLevelId" class="form-control input-group-text bg-white col-8">
                            <option value="">-- Pilih Lokasi Level --</option>
                            @foreach (VMTblMLocationLevel locationLevel in ViewBag.LocationLevel)
                            {
                                <option value="@locationLevel.Id">@locationLevel.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-group my-1">
                <label class="input-group-text col-4">Nama Lokasi<sup class="text-danger">*</sup>:</label>
                <input class="input-group-text bg-white text-start col-8" type="text" name="Name" value="@Model.Name" />
                <span class="text-danger" id="Name-error" style="display: none;"></span>
            </div>
            <div id="responseMessageEditLocation" class="text-danger" style="display: none;"></div>

        </div>
        <div class="card-footer d-flex justify-content-between">
            <button id="btnSubmit" type="submit" style="background-color:#ADDFFF" class="btn col-12 fw-bold">Edit</button>
        </div>
    </div>
</form>


<script>
    $("#frmEditLocationzz").validate({
        errorClass: "text-danger",
        rules: {
            "Name": {
                "required": true
            },
            "LocationLevelId": {
                "required": true
            }
        },
        messages: {
            "Name": {
                "required": "Nama Harus Diisi"
            },
            "LocationLevelId": {
                "required": "Level Lokasi Harus Diisi"
            }
        },
        submitHandler: function () {
            return false;
        }
    });


    $("#frmEditLocationzz").submit(function (event) {
        event.preventDefault();
        debugger;

        if ($("#frmEditLocationzz").valid()) {
            $.ajax({
                url: "/Location/Edit",
                type: "post",
                data: $("#frmEditLocationzz").serialize(),
                dataType: "json",
                beforeSend: function () {
                },
                success: function (response) {
                    debugger;
                    if (response.statusCode == 201 || response.statusCode == 200) {
                        location.reload();
                    }
                    else {
                        $("#responseMessageEditLocation").html(response.message).show();
                    }
                },
                error: function (errResponse) {
                    debugger;
                    alert("Menambahkan Lokasi Gagal");
                }
            })
        }
    });
</script>



